*.pyc
__pycache__/
.coverage
instance/

# Docker
*-data/
.test.db.data/
pgdata-test/

# Log files
app.log
make_up.log
*.log

# Other
cookies.txt
cookies2.txt
url_map.txt
.env  # Prevent local secrets from being committed.
firebase_credentials.json

# SSL certificates
nginx/ssl/self-signed.crt
nginx/ssl/self-signed.key
serviceAccountKey.json
.venv/
venv/
env/
.env
.pytest_cache/
.mypy_cache/
