services:
  web:
    image: ${IMAGE_TAG}
    restart: always
    command: gunicorn --bind 0.0.0.0:27272 --timeout 120 app:app
    environment:
      # These variables should be set in the production environment (e.g., GitHub Secrets)
      - SECRET_KEY=${SECRET_KEY}
      - MAIL_SERVER=${MAIL_SERVER}
      - MAIL_PORT=${MAIL_PORT}
      - MAIL_USE_TLS=${MAIL_USE_TLS}
      - MAIL_USERNAME=${MAIL_USERNAME}
      - MAIL_PASSWORD=${MAIL_PASSWORD}
      - FIREBASE_CREDENTIALS_JSON=${FIREBASE_CREDENTIALS_JSON}
      - FIREBASE_PROJECT_ID=${FIREBASE_PROJECT_ID}
      - FIREBASE_STORAGE_BUCKET=${FIREBASE_STORAGE_BUCKET}
      - FIREBASE_API_KEY=${FIREBASE_API_KEY}
      - IMGUR_CLIENT_ID=${IMGUR_CLIENT_ID}
      - APP_VERSION=${APP_VERSION}
    healthcheck:
      test: ["CMD", "curl", "--fail", "http://localhost:27272/health"]
      interval: 30s
      timeout: 10s
      retries: 3
    networks:
      - pickanet
  nginx:
    build:
      context: ./nginx
      dockerfile: Dockerfile.prod
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /etc/letsencrypt:/etc/letsencrypt
      - /var/www/certbot:/var/www/certbot
    networks:
      - pickanet
    depends_on:
      web:
        condition: service_healthy
  certbot:
    image: certbot/certbot
    restart: unless-stopped
    volumes:
      - /etc/letsencrypt:/etc/letsencrypt
      - /var/www/certbot:/var/www/certbot
    entrypoint: "/bin/sh -c 'trap exit TERM; while :; do certbot renew; sleep 12h & wait $${!}; done;'"
    networks:
      - pickanet

networks:
  pickanet:
    driver: bridge