services:
  web:
    container_name: picka-web
    build: .
    volumes:
      - .:/app
    command: gunicorn --bind 0.0.0.0:27272 --workers 2 --threads 4 --worker-class gthread --timeout 120 app:app
    env_file:
      - .env
    networks:
      - pickanet
  nginx:
    container_name: picka-nginx
    build: ./nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/ssl:/etc/nginx/ssl
    depends_on:
      - web
    networks:
      - pickanet

networks:
  pickanet:
    driver: bridge