services:
  web:
    container_name: picka-frontend
    build: .
    volumes:
      - .:/app
      - ./serviceAccountKey.json:/app/serviceAccountKey.json:ro
    command: gunicorn --bind 0.0.0.0:27272 --workers 2 --threads 4 --worker-class gthread --timeout 120 app:app
    environment:
      - GOOGLE_APPLICATION_CREDENTIALS=/app/serviceAccountKey.json
      - GOOGLE_API_KEY=${GOOGLE_API_KEY}
    env_file:
      - .env
    networks:
      - pickanet
  nginx:
    container_name: picka-server_nginx
    build: ./nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/ssl:/etc/nginx/ssl
    depends_on:
      - web
    networks:
      - pickanet

networks:
  pickanet:
    driver: bridge