services:
  web:
    container_name: picka-frontend
    image: ${IMAGE_TAG}
    restart: always
    command: gunicorn --bind 0.0.0.0:27272 --workers 2 --threads 4 --worker-class gthread --timeout 120 app:app
    # The following file must exist on the production server for the container to start.
    # It contains all the necessary environment variables for the application.
    env_file:
      - /root/.env
    healthcheck:
      test: ["CMD", "curl", "--fail", "http://localhost:27272/health"]
      interval: 30s
      timeout: 10s
      retries: 3
    networks:
      - pickanet
  nginx:
    container_name: picka-server_nginx
    build:
      context: ./nginx
      dockerfile: Dockerfile.prod
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot
    networks:
      - pickanet
    depends_on:
      web:
        condition: service_healthy
  certbot:
    container_name: picka-certbot
    image: certbot/certbot
    restart: unless-stopped
    volumes:
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot
    entrypoint: "/bin/sh -c 'trap exit TERM; while :; do certbot renew; sleep 12h & wait $${!}; done;'"
    networks:
      - pickanet

networks:
  pickanet:
    driver: bridge