Flask==3.1.2
gunicorn==25.0.3
Flask-Mail==0.10.0
ruff==0.15.0
Pillow==12.1.0
pydantic==2.12.5
Flask-WTF==1.2.2
types-WTForms==3.2.1.20250809
imgur-python==0.2.4
types-Pillow==10.2.0.20240822
bandit==1.9.3
mypy==1.19.1
firebase-admin==7.1.0
mkdocs==1.6.1
Faker==40.4.0
coverage==7.13.4
email-validator==2.3.0
Flask-Login==0.6.3
