Flask==2.2.2
Flask-SQLAlchemy==3.0.3
SQLAlchemy==2.0.15
psycopg2-binary
Werkzeug==2.2.2
gunicorn
Flask-Mail==0.9.1
Faker==18.4.0
ruff==0.12.12
Pillow
pydantic==1.10.7
Flask-WTF
email-validator
types-WTForms
types-psycopg2
types-SQLAlchemy
types-Pillow
bandit
mypy
