<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Join {{ group_name }} on Pick a Ladder!</title>
  </head>
  <body>
    <p>Hi {{ name }},</p>
    <p>You have been invited to join the <strong>{{ group_name }}</strong> group on Pick a Ladder!</p>
    <p>We think you'd be a great addition to the team. Come show us what you've got!</p>
    <p>Click the link below to accept the invitation and join the group:</p>
    <p><a href="{{ invite_url }}">{{ invite_url }}</a></p>
    <p>If you don't have an account yet, you'll be asked to log in or register first.</p>
    <p>See you on the court!</p>
    <p>Cheers,<br>The Pick a Ladder Team</p>
  </body>
</html>
