{% extends "layout.html" %}
{% block title %}All Matches{% endblock %}
{% block content %}
<div class="page-header">
    <h1>All Matches</h1>
</div>
<form method="get" action="{{ url_for('admin.admin_matches') }}">
    <div class="form-group">
        <input type="text" name="search" placeholder="Search by player name..." value="{{ search_term }}">
    </div>
    <input type="submit" value="Search" class="btn">
</form>
<div class="table-container">
    <table class="table-standard responsive-table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Player 1</th>
                <th>Player 2</th>
                <th>Score</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for match in matches %}
                {% include 'components/match_list_item.html' %}
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}