{% extends "layout.html" %}
{% block title %}Create Group{% endblock %}
{% block content %}
<div class="form-container">
    <h2>Create New Friend Group</h2>
    <form method="post" action="{{ url_for('group.create_group') }}">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.name.label }}
            {{ form.name(class="form-control") }}
        </div>
        <input type="submit" value="Create Group" class="btn">
        <a href="{{ url_for('group.view_groups') }}" class="btn btn-danger" style="margin-top: 10px;">Cancel</a>
    </form>
</div>
{% endblock %}
