{% extends "layout.html" %}
{% block title %}Create Match{% endblock %}
{% block content %}
<div class="form-container">
    <h2>Create Match</h2>
    {% for field, errors in form.errors.items() %}
        <div class="alert alert-danger">
            {{ ', '.join(errors) }}
        </div>
    {% endfor %}
    <form method="post" action="{{ url_for('match.create_match') }}">
        {{ form.hidden_tag() }}

        <div class="form-group">
            {{ form.match_type.label }}
            {{ form.match_type(class="form-control", onchange="toggleFields()") }}
        </div>

        <!-- Team 1 / Player 1 -->
        <div class="form-group" id="partner-group" style="display: none;">
            {{ form.partner.label }}
            {{ form.partner(class="form-control") }}
        </div>

        <div class="form-group">
            <label id="player1-score-label" for="player1_score">Your Score</label>
            {{ form.player1_score(class="form-control") }}
        </div>

        <hr>

        <!-- Team 2 / Player 2 -->
        <div class="form-group">
            <label id="player2-label" for="player2">Opponent</label>
            {{ form.player2(class="form-control") }}
        </div>

        <div class="form-group" id="opponent2-group" style="display: none;">
            {{ form.opponent2.label }}
            {{ form.opponent2(class="form-control") }}
        </div>

        <div class="form-group">
            <label id="player2-score-label" for="player2_score">Opponent's Score</label>
            {{ form.player2_score(class="form-control") }}
        </div>

        <hr>

        <div class="form-group">
            {{ form.match_date.label }}
            {{ form.match_date(class="form-control") }}
        </div>
        <input type="submit" value="Create Match" class="btn">
        <a href="{{ url_for('user.dashboard') }}" class="btn btn-danger" style="margin-top: 10px;">Cancel</a>
    </form>
    <script>
        document.getElementById('match_date').valueAsDate = new Date();

        function toggleFields() {
            var matchType = document.getElementById('match_type').value;
            var partnerGroup = document.getElementById('partner-group');
            var opponent2Group = document.getElementById('opponent2-group');

            var player1ScoreLabel = document.getElementById('player1-score-label');
            var player2Label = document.getElementById('player2-label');
            var player2ScoreLabel = document.getElementById('player2-score-label');

            if (matchType === 'doubles') {
                partnerGroup.style.display = 'block';
                opponent2Group.style.display = 'block';
                player1ScoreLabel.innerText = 'Team 1 Score';
                player2Label.innerText = 'Opponent 1';
                player2ScoreLabel.innerText = 'Team 2 Score';
            } else {
                partnerGroup.style.display = 'none';
                opponent2Group.style.display = 'none';
                player1ScoreLabel.innerText = 'Your Score';
                player2Label.innerText = 'Opponent';
                player2ScoreLabel.innerText = 'Opponent\'s Score';
            }
        }

        // Initialize state
        toggleFields();
    </script>
</div>
{% endblock %}
