{% extends "layout.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="form-container">
    <h2>Login</h2>
    <form method="post">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.username.label }}
            {{ form.username(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.password.label }}
            {{ form.password(class="form-control") }}
        </div>
        {{ form.submit(class="btn") }}
    </form>
    <!-- The "Forgot Password" link has been removed as this functionality is now handled by the Firebase client-side SDK. -->
    <p class="text-center">Don't have an account? <a href="{{ url_for('auth.register') }}">Register here</a>.</p>
</div>
{% endblock %}
