<header class="header">
    <div class="container">
        <nav class="navbar">
            <a href="{{ url_for('user.dashboard') }}" class="navbar-brand" style="display: flex; align-items: center;">
                <img src="{{ url_for('user.static', filename='pickaladder_logo_64.png') }}" alt="pickaladder logo" style="height: 24px; margin-right: 8px;">
                pickaladder
            </a>
            <div class="navbar-menu">
                {% if user %}
                    <div class="dropdown">
                        <button class="dropbtn">
                            <img src="{{ user.profilePictureThumbnailUrl or user.profilePictureUrl or url_for('static', filename='user_icon.png') }}" alt="Profile Picture" class="profile-picture-thumbnail" onerror="this.onerror=null;this.src='{{ url_for('static', filename='user_icon.png') }}';">
                        </button>
                        <div class="dropdown-content">
                            <a href="{{ url_for('user.dashboard') }}">📈 Dashboard</a>
                            <a href="{{ url_for('user.users') }}">👥 Users</a>
                            <a href="{{ url_for('user.friends') }}">🧑‍🤝‍🧑 Friends</a>
                            <a href="{{ url_for('group.view_groups') }}">👨‍👩‍👧‍👦 Groups</a>
                            <a href="{{ url_for('match.leaderboard') }}">🏆 Leaderboard</a>
                            <a href="{{ url_for('auth.change_password') }}">🔑 Change Password</a>
                            <a href="{{ url_for('auth.logout') }}">🚪 Logout</a>
                            {% if session.get('is_admin') %}
                                <hr>
                                <a href="{{ url_for('admin.admin') }}">👑 Admin</a>
                            {% endif %}
                        </div>
                    </div>
                {% else %}
                    {% if request.endpoint != 'auth.login' %}
                        <a href="{{ url_for('auth.login') }}" class="btn">Login</a>
                    {% endif %}
                    <a href="{{ url_for('auth.register') }}" class="btn btn-primary">Register</a>
                {% endif %}
            </div>
        </nav>
    </div>
    {% if session.get('is_admin') %}
        <div class="admin-banner">
            <p>You are logged in as an administrator.</p>
        </div>
    {% endif %}
</header>
