{% extends "layout.html" %}

{% block title %}Tournaments{% endblock %}

{% block content %}
<div class="d-flex justify-content-between align-items-center mb-4 page-header-actions">
    <h1>Tournaments</h1>
    {% if g.user.is_admin %}
    <a href="{{ url_for('tournament.create_tournament') }}" class="btn btn-primary btn-action">
        <i class="fas fa-trophy"></i> Create Tournament
    </a>
    {% endif %}
</div>

{% if tournaments %}
    <div class="tournament-grid">
        {% for tournament in tournaments %}
            <a href="{{ url_for('tournament.view_tournament', tournament_id=tournament.id) }}" class="card tournament-card">
                <h3>{{ tournament.name }}</h3>
                <p class="text-muted">
                    {{ tournament.date }} | {{ tournament.location }} | {{ tournament.matchType|capitalize }}
                </p>
            </a>
        {% endfor %}
    </div>
{% else %}
    <div class="card">
        <div class="card-body">
            No tournaments found
        </div>
    </div>
{% endif %}
{% endblock %}
