/* Mobile-specific styles */
@media (max-width: 768px) {
    .navbar-menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: var(--surface-color);
        box-shadow: var(--box-shadow);
        z-index: 100;
    }

    .navbar-menu.active {
        display: flex;
    }

    .hamburger-menu {
        display: block;
        cursor: pointer;
    }

    .hamburger-menu span {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px;
        background-color: var(--on-surface-color);
    }

    .responsive-table {
        width: 100%;
        border-collapse: collapse;
    }

    .responsive-table thead {
        display: none;
    }

    .responsive-table tbody,
    .responsive-table tr,
    .responsive-table td {
        display: block;
        width: 100%;
    }

    .responsive-table tr {
        margin-bottom: 15px;
    }

    .responsive-table td {
        text-align: right;
        padding-left: 50%;
        position: relative;
    }

    .responsive-table td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 45%;
        padding-left: 15px;
        font-weight: bold;
        text-align: left;
    }
}
