{% extends "layout.html" %}
{% block title %}Admin Panel{% endblock %}
{% block content %}
<div class="container">
    <h2>Admin Panel</h2>
    <div class="list-group">
        <a href="{{ url_for('reset_db') }}" class="list-group-item list-group-item-action list-group-item-danger">Reset Database</a>
        <a href="{{ url_for('generate_users') }}" class="list-group-item list-group-item-action">Generate 10 Random Users</a>
        <a href="{{ url_for('reset_admin') }}" class="list-group-item list-group-item-action list-group-item-warning">Reset Admin</a>
    </div>
</div>
{% endblock %}
