{% extends "layout.html" %}
{% block title %}Friend Requests{% endblock %}
{% block content %}
<div class="container">
    <h2>Friend Requests</h2>
    <h3>Received</h3>
    <div class="friend-requests-list">
        {% if requests %}
            <table>
                <thead>
                    <tr>
                        <th>Username</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for request in requests %}
                        <tr>
                            <td>{{ request[1] }}</td>
                            <td><a href="{{ url_for('accept_friend_request', friend_id=request[0]) }}" class="button">Accept</a></td>
                            <td><a href="{{ url_for('decline_friend_request', friend_id=request[0]) }}" class="button">Decline</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>You have no friend requests.</p>
        {% endif %}
    </div>
    <h3>Sent</h3>
    <div class="friend-requests-list">
        {% if sent_requests %}
            <table>
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for request in sent_requests %}
                        <tr>
                            <td>{{ request[1] }}</td>
                            <td>{{ request[2] }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>You have no sent friend requests.</p>
        {% endif %}
    </div>
    <a href="{{ url_for('users') }}" class="btn btn-primary">Add Friends</a>
</div>
{% endblock %}
