<!DOCTYPE html>
<html>
<head>
    <title>Login - pickaladder</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <div class="login-form">
            <h2>Login</h2>
            <form method="post" action="{{ url_for('login') }}">
                <label for="username">Username:</label><br>
                <input type="text" id="username" name="username"><br>
                <label for="password">Password:</label><br>
                <input type="password" id="password" name="password"><br><br>
                <input type="submit" value="Login">
            </form>
            <p>Don't have an account? <a href="/register">Register here</a>.</p>
        </div>
    </div>
</body>
</html>
