<nav>
    <a href="{{ url_for('dashboard') }}">Dashboard</a>
    <a href="{{ url_for('users') }}">Users</a>
    {% if session['is_admin'] %}
    <a href="{{ url_for('admin') }}">Admin</a>
    {% endif %}
    <div class="dropdown" style="float:right;">
        <button class="dropbtn">
            {% if user and user[7] %}
                <img src="{{ url_for('static', filename='uploads/' + user[7]) }}" alt="Profile Picture" width="30" height="30" style="border-radius: 50%;">
            {% else %}
                Account
            {% endif %}
        </button>
        <div class="dropdown-content">
            <a href="{{ url_for('dashboard') }}">Profile</a>
            <a href="{{ url_for('reset_password') }}">Change Password</a>
            <a href="{{ url_for('logout') }}">Logout</a>
        </div>
    </div>
</nav>
