<body class="{{ 'dark-mode' if user and user[8] else '' }}">
{% if session['is_admin'] %}
<div class="admin-banner">
    <p>You are logged in as an administrator.</p>
</div>
{% endif %}
<div class="container">
    <nav>
        <div class="dropdown" style="float:right;">
            <button class="dropbtn">
                <img src="{{ url_for('profile_picture_thumbnail', user_id=user[0]) }}" alt="Profile Picture" width="30" height="30" style="border-radius: 50%;" onerror="this.onerror=null;this.src='{{ url_for('static', filename='user_icon.png') }}';">
            </button>
            <div class="dropdown-content">
                <a href="{{ url_for('dashboard') }}">📈 Dashboard</a>
                <a href="{{ url_for('users') }}">👥 Users</a>
                <a href="{{ url_for('friends') }}">🧑‍🤝‍🧑 Friends</a>
                <a href="{{ url_for('leaderboard') }}">🏆 Leaderboard</a>
                <a href="{{ url_for('change_password') }}">🔑 Change Password</a>
                <a href="{{ url_for('logout') }}">🚪 Logout</a>
                {% if session['is_admin'] %}
                <hr>
                <a href="{{ url_for('admin') }}">👑 Admin</a>
                {% endif %}
            </div>
        </div>
    </nav>
</div>
