<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find Friends - pickaladder</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        {% include 'navbar.html' %}
        <h2>Find Friends</h2>
        <div class="users-list">
            <table>
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Name</th>
                        <th>DUPR Rating</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in all_users %}
                        <tr>
                            <td>{{ user[1] }}</td>
                            <td>{{ user[4] }}</td>
                            <td>{{ user[5] }}</td>
                            <td><a href="{{ url_for('add_friend', friend_id=user[0]) }}">Add Friend</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
