name: Linting

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: '3.x'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install ruff refurb
    - name: Run ruff (Blocking Checks)
      run: ruff check --select UP,E,F,I .
    - name: Run ruff (Audit Checks)
      run: ruff check --select ANN,D,C90 .
      continue-on-error: true
    - name: Run refurb
      run: refurb .
      continue-on-error: true
