name: Main Workflow

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  ci:
    if: "!contains(github.event.head_commit.message, '[skip ci]')"
    uses: ./.github/workflows/run_tests.yaml
    secrets: inherit

  versioning:
    needs: ci
    permissions:
      contents: write
      pull-requests: write
    uses: ./.github/workflows/reusable-versioning.yml
    secrets: inherit
