name: Quality Gate

on:
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  quality-gate:
    name: Quality Gate
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v6

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true

      - name: Install Dependencies
        run: uv sync

      - name: Install Playwright Browsers
        run: uv run --no-project playwright install --with-deps

      - name: Run Tests
        run: uv run --no-project python -m pytest
